.box {
    
}
.table {
    max-width: 100%;
    left: 0;
    position: absolute;
    top: 62px;
    z-index: -4;
}


.hand {

    display:block;


}

.game-table{
    min-height: 400px;
 
}

.white {
    color:white;
}

.col {
    display: flex;
}
.footer {
    position: relative;
    bottom: -118px;
    z-index: -5;
    height: 282px !important;
}
.show{
    display:block !important;
}
.hide {
    display: none !important;
}
.message{
    position: absolute;
    width: 300px;
    height: 200px;
    background-color: black;
    color: white;
    border:1px solid white;
    border-radius: 20px;
    text-align: center;
    left: 50%;
    top: 50%;
}
.betbox {
    position: relative;
    left: 600px;
    top: 209px;
}