
.action-button svg {
        margin-left: 8px;
  }
.actionbox{
    width:800px
}
.btnImage {
    margin-right: 10px;
    display:inline-block;
    text-shadow: 3px 3px 5px rgb(128, 128, 128);
    width: 150px;
}
.btnImage:hover {
    text-shadow: 1px 1px 10px rgb(128, 128, 128);
    cursor: pointer;
}