.box {
    margin-top: 25px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: darkgreen;
    min-height: 650px;
    padding: 25px;
}


.hand {

    display:block;


}

.game-table{
    min-height: 400px;
}

.white {
    color:white;
}